<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Default structured JSON logging for all profiles -->
    <springProfile name="!test">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</timestampPattern>
                <timeZone>UTC</timeZone>
                <fieldNames>
                    <timestamp>timestamp</timestamp>
                    <level>level</level>
                    <message>message</message>
                    <logger>[ignore]</logger>
                    <thread>[ignore]</thread>
                    <levelValue>[ignore]</levelValue>
                    <version>[ignore]</version>
                </fieldNames>
                <includeMdcKeyName>request_id</includeMdcKeyName>
                <includeMdcKeyName>session_id</includeMdcKeyName>
                <includeMdcKeyName>latency_ms</includeMdcKeyName>
                <includeMdcKeyName>http_method</includeMdcKeyName>
                <includeMdcKeyName>http_path</includeMdcKeyName>
                <includeMdcKeyName>http_status</includeMdcKeyName>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>

        <logger name="com.intellidesk" level="DEBUG"/>
    </springProfile>

    <!-- Plain text logging for tests -->
    <springProfile name="test">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%X{request_id}] [%X{session_id}] %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

        <logger name="com.intellidesk" level="DEBUG"/>
    </springProfile>

</configuration>
